{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio de sesión - Odontológica Galenos</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
  <link rel="Icon" href="{% static 'images/16x16.png' %}" type="text/css">
  <script src="{% static 'js/login.js' %}"></script>
</head>

<body>
  <a href="{% url 'index' %}">
    <img src="{% static 'images/logoo.jpg' %}" alt="" class="logo">
  </a>
  <div class="container">
      <form id="loginForm" method="post" class="login-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary" onclick="validateForm()">Iniciar sesión</button>
      </form>
    <div class="forgot-password">
      <a href="#">¿Olvidó su contraseña?</a>
    </div>
  </div>
</body>

</html>
{% endblock %}